.cache
.content-collections
.next
.turbo
build
dist
node_modules
public
coverage
.vercel
.mintlify
playwright-report
test-results
.playwright
**/**/.cache
**/**/.content-collections
**/**/.next
**/**/.turbo
**/**/build
**/**/dist
**/**/node_modules
**/**/public
**/**/coverage
**/**/.vercel
**/**/playwright-report
**/**/test-results

*.lock
*.log
*.hbs

.env
.env.*
!.env.example

.cursorrules
.windsurfrules
.DS_Store
.editorconfig
.eslintignore
.gitattributes
.gitignore
.npmignore
.npmrc
.nvmrc
.prettierignore
.syncpackrc

